@import '../../colors';

.todo-container {
  width: 100%;

  .todo-card-list {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 19px -12px rgba(0,0,0,0.3); 
    box-shadow: 0px 5px 19px -12px rgba(0,0,0,0.3);
    margin-bottom: 1.5rem;
  
    hr {
      border: none;
      height: 1px;
      color: var(--text-complete);
      background-color: var(--text-complete);
    }
  
    .todo-card-list__footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.5rem;
      color: var(--text-secondary);
  
      .clear {
        cursor: pointer;
      }
    }
  }
}
