@import 'responsive.scss', 'colors.scss';

.app {
  height: 100lvh;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 0 2rem;
  background-color: var(--Very-Dark-Blue);
  z-index: -1;

  .header,
  .main,
  .footer {
    width: 100%;
    max-width: 600px;
    z-index: 999;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    padding: 3rem 0;
    font-size: 0.9rem;
    
    .background {
      position: absolute;
      width: 100%;
      height: 300px;
      top: 0;
      left: 0;
      object-fit: cover;
      content: url('../public/bg-mobile-light.jpg');
      
      @include lg {
        content: url('../public/bg-desktop-light.jpg');
      }
    }

    .header__title {
      color: var(--text-title);
      text-transform: uppercase;
      letter-spacing: 0.75rem;
      z-index: 999;
    }

    .themeToggle {
      z-index: 999;
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    font-size: 0.9rem;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3.5rem 0;
    color: var(--text-secondary);
  }
}