@import 'responsive.scss', 'themes.scss';

.app {
  min-height: 100lvh;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 0 2rem;
  background-color: var(--bg);
  padding-bottom: 4rem;

  .header,
  .main {
    width: 100%;
    max-width: 600px;
    z-index: 999;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    padding: 3rem 0;
    font-size: 0.9rem;
    
    .background {
      position: absolute;
      width: 100%;
      height: 300px;
      top: 0;
      left: 0;
      object-fit: cover;
      content: var(--bg-img-mobile);
      
      @include lg {
        content: var(--bg-img-desktop);
      }
    }

    .header__title {
      color: var(--text-title);
      text-transform: uppercase;
      letter-spacing: 0.75rem;
      z-index: 999;
    }

    .themeToggle {
      z-index: 999;
      cursor: pointer;
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    font-size: 0.9rem;
  }
}